@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body{
  font-family: font-mono;
}
:root {
  
}

.fire::before,
.fire::after {
  content: "";
  position: absolute; /* Posicionamiento relativo al contenedor '.fire' */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; /* Asegúrate de que se coloquen sobre cualquier contenido dentro de '.fire' */
}

.fire::before {
  background-image: var(--glitter), var(--glitter),
    linear-gradient(
      0deg,
      white 0px,
      #ff8951 5px,
      #dcbc169c 30%,
      transparent 70%
    ),
    radial-gradient(ellipse at bottom, transparent 30%, black 60%);
  background-size: 350px 500px, 400px 650px, 100% 100%, 100% 100%;
  background-blend-mode: hard-light, color-dodge, multiply;
  background-position: 0px 0px, 0px 0px, var(--gradientPos);
  background-repeat: repeat, repeat, repeat, no-repeat;
  mix-blend-mode: color-dodge;
  filter: brightness(3.7) blur(7px) contrast(6);
  animation: fire 1.75s linear infinite;
  box-shadow: inset 0 -40px 50px -60px #63bbc5;
}

@keyframes fire {
  0% {
    background-position: center 0px, center 0px, 50% 100%, center center;
  }
  100% {
    background-position: center -500px, center -650px, 50% 100%, center center;
  }
}

.fire {
  position: relative; 
  width: 80%; 
  height: 200px;
  overflow: hidden; 
}

.footerHeader {
  width: 75%;
  margin: auto;
  padding: 12px;
}

.p-footer {
  /* opacity: 0.5; */
}

.ul-footer {
  justify-content: space-around;
}

.footerText {
  width: 90%;
  margin: auto;
}
.align-contact {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(241, 0, 12);
  padding: 4px;
}

@media (max-width: 768px) {
  .align-contact {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
}